<div class="card">
    <div class="card-body row">
        <div class="col-2 d-flex flex-column justify-content-between">
            <img src="../static/img/avatars/profile_2.webp" class="img-thumbnail rounded my-img mb-3"
                alt="avatar">
            <input 
                class="form-control w-75" 
                type="number" 
                value="{{answer.likes_count}}"
                min="{{ answer.likes_count }}"
                max="{{ answer.likes_count|add:1 }}"
            >
        </div>
        <div class="col-10 d-flex flex-column justify-content-between">
            <div>
                <article class="mb-4">
                    {{ answer.description }}
                </article>
            </div>
            <div class="d-flex flex-wrap gap-2 align-items-center">
                {% if answer.isRight %}
                    <input type="checkbox" id="correct_{{answer.id}}" checked>
                {% else %}
                    <input type="checkbox" id="correct_{{answer.id}}">
                {% endif %}
                <label for="correct_{{answer.id}}">Correct</label>
            </div>
        </div>
    </div>
</div>