{% load static %}
<div class="col-2 d-flex flex-column justify-content-between">
    <img src="../static/img/avatars/profile_2.webp" class="img-thumbnail rounded my-img mb-3" alt="avatar" />
    {% if request.user.is_authenticated %}
        <div style="display: flex; align-items: center">
            <img 
                src="{% if question.liked_me %}{% static '/img/like.png' %}{%else%}{% static '/img/no_like.png' %}{% endif %}" 
                style="width: 28px; cursor: pointer" 
                onclick="onLikeButtonClick(event);" 
                data-question-id="{{ question.id }}"
            />
            <span id="question_{{ question.id }}_likes" style="font-weight: 600; line-height: 1; margin-left: 8px;">
                {{question.question_like.count}}
            </span>
        </div>
    {% else %}
        <div style="display: flex; align-items: center">
            <img 
                src="{% static '/img/like.png' %}" 
                style="width: 28px;" 
            />
            <span id="question_{{ question.id }}_likes" style="font-weight: 600; line-height: 1; margin-left: 8px;">
                {{question.question_like.count}}
            </span>
        </div>
    {% endif %}
</div>
<div class="col-10 d-flex flex-column justify-content-between">
    <div>
        <a href="{% url "question" question.id %}" class="fs-4 link">{{ question.name }}</a>
        <article class="mt-1 mb-4">{{ question.description }}</article>
    </div>
    <div class="d-flex flex-wrap gap-2 align-items-center">
        <a href="{% url "question" question.id %}">answers ({{ question.question_answer.count }})</a>
        <span class="ms-3">Tags:</span>
        {% for tag in question.tags.all %}
            <a href="{% url "tag" tag.name %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>