<div class="col-2 d-flex flex-column justify-content-between">
    <img src="../static/img/avatars/profile_2.webp" class="img-thumbnail rounded my-img mb-3" alt="avatar" />
    {% if question.myLike %}
    <input 
        class="form-control w-75" 
        type="number" 
        value="{{ question.likes }}"
        min="{{ question.likes|add:-1 }}"
        max="{{ question.likes }}"
    >
    {% else %}
    <input 
        class="form-control w-75" 
        type="number" 
        value="{{ question.likes }}"
        min="{{ question.likes }}"
        max="{{ question.likes|add:1 }}"
    >
    {% endif %}
</div>
<div class="col-10 d-flex flex-column justify-content-between">
    <div>
        <a href="{% url "question" question.id %}" class="fs-4 link">{{ question.title }}</a>
        <article class="mt-1 mb-4">{{ question.text }}</article>
    </div>
    <div class="d-flex flex-wrap gap-2 align-items-center">
        <a href="{% url "question" question.id %}">answers ({{ question.answers_count }})</a>
        <span class="ms-3">Tags:</span>
        {% for tag in question.tags %}
            <a href="{% url "tag" tag %}">{{ tag }}</a>
        {% endfor %}
    </div>
</div>