{% extends 'layouts/skeleton.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<div class="d-flex justify-content-start align-items-center mb-3">
    <h2 class="m-0 me-5">Login</h2>
</div>
<form class="w-50" method="POST" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button class="btn btn-success" type="submit" maxlength="32">Log in!</button>
        <a href="{% url "signup" %}" class="ms-3">Create new account</a>
    {% endbuttons %}
</form>
{% endblock %}