{% extends 'layouts/skeleton.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<div class="d-grid gap-3">
    <div class="d-grid gap-3">
        <div class="row border-bottom border-3 pb-3 ms-0 me-0">
            {% include "layouts/question_content.html" with question=question %}
        </div>
    </div>
    {% for answer in answers %}
        {% include "layouts/answer.html" with answer=answer %}
    {% endfor %}
    {% include "layouts/paginator.html" with page=page %}
    {% if request.user.is_authenticated %}
    <div class="pt-3 border-top border-3">
        <form class="w-50" method="POST" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-success" maxlength="32">Answer</button>
            {% endbuttons %}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}